*{
   margin: 0;
   padding: 0; 
   color: black;
   font-family: 'PlayFair Display', sans-serif;
}
body{
    background-image: linear-gradient(315deg, #f0fff0 0%, #f5f5f5 74%);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
body::-webkit-scrollbar{
    display: none;
}
.nav-header{
    margin-left: 5rem;
}
nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav-button ul{
    list-style: none;
    display: flex;
    gap: 5rem;
    margin-right: 5rem;
}
.nav-button li a{
    text-decoration: none;
    color: black;
}
nav .nav-button ul li:hover{
    transform: translateY(-2px);
    transition: transform 0.3s ease-in-out;
}
.nav-button li  .active{
    color:black;
    font-weight: bolder;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.search-box .search input{
    text-align: center;
    border: none;
    padding: 1rem 3rem;
}
.search-box .check-in input{
    text-align: center;
    border: none;
    padding: 1rem 3rem;
}
.search-box .check-out input{
    text-align: center;
    border: none;
    padding: 1rem 3rem;
}
.search-box #guest{
    border: none;
    padding: 1rem 3rem;
}
.search-box button{
    text-align: center;
    border: none;
    padding: 1rem 3rem;
    transition: transform 0.5s ease-in-out;
    letter-spacing: 2px;
}
.search-box button:hover{
    background-color: navy;
    cursor: alias;
    color: white;
    font-weight: bolder;
    transform: translateY(-2px);
}
/*experience dropdown hover starts*/
nav ul li:hover ul.dropdown-1{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 1rem;
}
nav ul li .dropdown-1 li{
    text-align: center;
}
nav ul li .dropdown-1 {
    position: absolute;
    z-index: 500;
    display: none;
    transition: transform 0.5s ease-in-out;
    background-color: white;
}
nav ul li .dropdown-1 a{
    color: white;
    padding-bottom: 1rem;
    color: black;
}
nav ul li a:hover{
    transform: translateY(-2px);
}
nav ul .dropdown-1 img{
    width: 5rem;
    height: 5rem;
    position: relative;
    margin-top: 0.5rem;
    object-fit: cover;
}
/*experience dropdown hover ends*/
.card-1 .left{
    position: absolute;
}
.card-1{
    margin: 2rem 0 0 5rem;
}
.card-1 .left .main .main-head h1{
    margin-bottom:0.5rem;
    color: black;
}
.card-1 .left .main .main-head .pointer{
    margin-bottom: 0.5rem;
}
.card-1 .left .main .main-head .pointer i{
    position: absolute;
}
.card-1 .left .main .main-head .pointer a{
    padding-left: 0.5rem;
    text-decoration: none;
    color: black;
}
.card-1 .left .main .main-head .pointer a::after{
    content: "";
    display: block;
    height: 1px;
    width: 0;
    margin-left: 1.5rem;
    background-color: black;
    transition: all 0.5s ease-in-out;
}
.card-1 .left .main .main-head .pointer a:hover::after{
    width:38.4%;
}
.card-1 .left .c-1{
    max-width: 550px;
    width: 100%;
}
.card-1 .left .carousel-img-list{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 1rem;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}
.card-1 .left .carousel-img-list::-webkit-scrollbar{
    display: none;
}
.card-1 .left .carousel-img-list .image-item{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.card-1 .right{
    margin-top: 1rem;
    margin-left: 37rem;
    width:49rem;
}
.card-1 .right .main-details h2{
    margin-bottom: 1rem;
    color: black;
}
.card-1 .right .main-details .rating{
    margin-bottom: 0.5rem;
}
.card-1 .right .main-details .checked{
    color: orangered;
}
.card-1 .right .main-details .rating h4{
    font-size: 1.2rem;
}
.card-1 .right .main-details .vertical-box .check h2{
    margin-top: 1rem;
}
.card-1 .right .main-details .vertical-box .check input{
    padding: 0.5rem 1.5rem;
    margin-right: 1rem;
    border-radius: 1rem;
    text-align: center;
}
.card-1 .right .main-details .vertical-box .check .g{
    width: 3rem;
}
.card-1 .right .main-details .vertical-box .check button{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: white;
    background-color: black;
}
.card-1 .right .main-details .vertical-box .check button:hover{
    background-color: rgb(133, 255, 147);
    color: black;
    transition: all 0.3s ease-in-out ;
}
.card-1 .right .rating-cleanliness h2{
    margin-top: 1rem;  
    color: black;
}
.card-1 .right .rating-cleanliness .couples h3{
    position: absolute;
    margin-top: -0.15rem;
}
.card-1 .right .rating-cleanliness .families h3{
    position: absolute;
    margin-top: -0.12rem;
}
.card-1 .right .rating-cleanliness .solo h3{
    position: absolute;
    margin-top: -0.12rem;
}
.card-1 .right .vertical-box .room h2{
    margin-top: 1rem;
    color: black;
}
.card-1 .right .vertical-box .room .ac,.as,.cf{
    display: flex;
    align-items: center;
}
.card-1 .right .vertical-box .room .ac p{
    margin-left: 1.1rem;
}
.card-1 .right .vertical-box .room .as p{
    margin-left: 0.7rem;
}
.card-1 .right .vertical-box .room .cf p{
    margin-left: 0.9rem;
}

footer{
    margin-top: 15rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
footer .designed{
    cursor: alias;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin-left: 0.3rem;
    margin-top: 2rem;
}
footer .link h1{
    font-family: 'Dancing Script',cursive;
    padding-bottom: 0.2rem;
}
footer .link a{
    text-decoration: none;
    color:black; 
    font-size: 1.5rem;
    margin-right: 3rem;
}
.cr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.cr h1{
    padding-top: 1rem;
    font-size: 0.8rem;
    font-weight: lighter;
}
.cr ul{
    display: flex;
    gap: 3rem;
    list-style: none;
    font-size: 0.9rem;
}
.cr ul a{
    text-decoration: none;
    color: black;
}